.character {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 40px;
    margin-left: 10px;

    img {
        width: 200px;
    }

    button {
        margin-top: 20px;
    }
}
